body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header */
.header {
    background-color: #005727;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    /*background-color: #fff9d6;*/
    /*border-radius: 50%;*/
    height: 60px;
    margin-right: 10px;
}

.logo-text {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    /*font-weight: bold;*/
}

.logo-text span {
    color: #cda943;
}

.nav-menu {
    display: flex;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #acff60;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

/* Módulos */
.module {
    background-color: #fffbe6;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.module-title {
    font-size: 28px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
    /*border-bottom: 2px solid #005727;*/
    padding-bottom: 15px;
}

/* Equipe */
.team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    width: calc(31% - 30px);
    background-color: #fff9d6;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 2px solid #f0e6b3;
}

.team-member h3 {
    font-size: 20px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 15px;
}

.team-member img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.team-member p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.team-member .contact {
    font-size: 14px;
    color: #2c3e50;
    margin-top: 5px;
}


.about-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-text {
    flex: 2;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    font-weight: 600;
    color: #333;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.2));
}
#map {
    height: 600px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #f8fff0;
    margin: 5% auto;
    padding: 0;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    position: relative;
    border: 5px solid;
}

.modal-header {
    padding: 15px 30px;
    text-align: center;
    border-bottom: 3px solid;
}

.modal-header h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.modal-body {
    padding: 20px 30px;
}

.close {
    color: #333;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Imagens no modal */
.bioma-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bioma-images img {
    width: 48%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.bioma-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

/* Espécies do bioma */
.especies-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.especie-card {
    width: 30%;
    text-align: center;
    margin-bottom: 15px;
}

.especie-card img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    /*background-color: #c2e6ff;*/
    border-radius: 15%;
    padding: 10px;
}

.especie-nome {
    font-weight: bold;
    margin: 5px 0;
}

.especie-nome-cientifico {
    font-style: italic;
    font-size: 14px;
}

.bioma-title {
    font-size: 24px;
    font-weight: bold;
}

.info-section {
    margin-bottom: 15px;
}

.info-section h4 {
    margin-bottom: 5px;
    color: #34495e;
}

.legend {
    background-color: #f5f5f5;
    border: 3px solid #005727;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    width: 160px;
    font-family: 'Arial', sans-serif;
}

.legend h4 {
    background-color: #005727;
    color: white;
    margin: 0;
    padding: 8px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 2px solid #005727;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 8px;
}

.color-box {
    width: 25px;
    height: 20px;
    margin-right: 10px;
    border: none;
}

.legend-item span {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.arimo-regular {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.mochiy-pop-p-one-regular {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

